<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%= data.date %>
    Name of da food: <%= data.name %>
    <div title="Add to Calendar" class="addeventatc">
        Add to Calendar
        <span class="start">02/18/2018 01:00 PM</span>
        <span class="end">02/18/2018 3:00 PM</span>
        <span class="timezone">America/Los_Angeles</span>
        <span class="title">Food expired!</span>
    </div>
    <div>
        Return home<br />
        <a href="/"><button>Home</button></a>
    </div>
    <script type="text/javascript" src="https://addevent.com/libs/atc/1.6.1/atc.min.js" async defer></script>
  </body>
</html>
