<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8" />
        <title>test</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://addevent.com/libs/atc/1.6.1/atc.min.js" async defer></script>
    </head>


    <body>
        <div id="replace">
            <form id="file-form" action="/" method="post" enctype="application/x-www-form-urlencoded">
                <input type="file" id="file-select" name="photo"/>
                <br />
                <!-- <input type="text" name="test" form="file-form"/> -->
                <button type="submit" id="upload-button">Upload</button>

                <!-- <input type="radio" name="wow"  value="opt1" checked/> -->
                <!-- <input type="radio" name="wow"  value="opt2"/> -->
                <!-- <input type="radio" name="wow"  value="opt3"/> -->
                <!-- <input id="" type="submit" value="Submit Form" /> -->
            </form>
        </div>

        <script src="main.js"></script>
    </body>
</html>
