<html>
<head>
<script type="text/javascript" src="/message.js"></script>
<script type="text/javascript" src="/expiry.json"></script>
<!-- <script type="text/javascript" src="https://addevent.com/libs/atc/1.6.1/atc.min.js" async defer></script> -->
</head>
<body>
<p>Welcome to JavaScript, click Check</p>
<form>
<!-- <input type="button" value="click" onclick="msg()"/> -->
<!-- <input type="button" value="click2" onclick="load()"/> -->
<input type="button" value="Check" onclick="check_expiry()"/>
<!-- <input type="button" value="test_lab" onclick="loadlabels()"/> -->
<!-- Button code -->
<!-- <div title="Add to Calendar" class="addeventatc">
    Add to Calendar
    <span class="start">02/18/2018 01:00 PM</span>
    <span class="end">02/18/2018 3:00 PM</span>
    <span class="timezone">America/Los_Angeles</span>
    <span class="title">Food expired</span>
    <span class="description">Description of the event</span>
    <span class="location">Location of the event</span>
</div> -->

</form>
</body>
</html>
